.App {
  text-align: center;
  background-image: url("avatar pg.jpg");
  }
  h1 {
    font-size: 3rem;
    color:rgb(3, 3, 51);
    margin-bottom: 9rem;
    }
    div {
      margin: 1rem 0;
    }
    
    